/* Universal Selector */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Element Selector */
p{
    padding: 20px;
    margin: 10px;
}

/* Class Selector */
.section1{
    color: rgba(194, 19, 200, 0.511);
    text-decoration: underline;
}

/* Id Selector*/
#heading5{
    background-color: yellowgreen;
    font-style: italic;
}

/* Attribute Selector */
[id="heading3"]{
    color: red;
}

/* Pseudo-Class */
#heading2:hover{
    color: hotpink;
    text-decoration: underline;
}

/* Pseudo-Element */
.inside2:hover::first-letter{
    font-weight: bolder;
    font-size: 30px;
    color: green;
}

/* Descendant */
span h3{
    color: white;
    background-color: black;
}

/* Child */
span>h5{
    font-family:cursive;
    font-size: 25px;
}

/* Adjacent-Sibling */
h4+h5{
    background-color: magenta;
}

/* General Sibling */
h3~h4{
    font-size: 40px;
}

/* Group Selector */
.only-div .only-section #heading5{
    text-align: center;
}